{% load static %}

<div class="container-fluid footer custom-footer">
  <div class="container inner-content-width">
    <div class="row justify-content-between" style="padding-top: 3.875rem; padding-bottom: 1.1875rem;">
      <div class="col-12 col-lg-4">
        <a class="nav-link" href="/home"><img src="{% static 'images/logo/logo_white.png' %}" alt="Logo" height="80rem;"></a>
      </div>
      <div class="col-12 col-lg-4 row row-cols-5 align-self-center justify-content-center">
        {% for smedia, smedia_href in social_media.items %}
          {% with smedia_logo='images/external_logo/logo_'|add:smedia|add:'.svg' %}
            <div class="col-2 text-center footer-social-media-link">
              <a class="nav-link" href="{{ smedia_href }}" target="_blank"><img src="{% static smedia_logo %}" alt="{{ smedia }}" height="33rem;"></a>
            </div>
          {% endwith %}
        {% endfor %}
      </div>
      <div class="col-12 col-lg-4 row align-self-end justify-content-end">
          <div class="col-9 row">
            <h5>Subscribe to our newsletter</h5>
          </div>
          <div class="col-9 row">
            <a class="btn" href="https://groups.google.com/forum/#!forum/2020djangoconeu-newsletter/join" target="_blank">JOIN NEWSLETTER</a>
          </div>
      </div>
    </div>

    <hr class="w-100 mt-4" style="margin: 0px; padding: 0px; border-top: 1px solid rgba(255, 255, 255, .5);"/>

    <div class="row" style="padding-top: 3.1875rem;">
      {% for menu, menu_dict in site_menu.items %}
        <div class="col-lg-2 col-sm-4 col-12">
          {% if menu_dict.dropdown == 'false' %}
            <div class="footer-title"><a class="text-white" href="{{ menu_dict.href }}"><strong>Jobs</strong></a><br/></div>
          {% endif %}
          {% if menu_dict.dropdown == 'true' %}
            <div class="footer-title"><strong> {{ menu }} </strong><br/>
            </div>
              {% for submenu, submenu_href in menu_dict.submenu.items %}
                <a class="text-white" href="{{ submenu_href }}">{{ submenu }}</a><br/>
              {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="row justify-content-around" style="padding-top: 2.9375rem; padding-bottom: 1.4375rem;">
      <div class="row row-cols-1 justify-content-center align-self-center">
        <div class="col text-center"  style="padding-bottom: 1rem;">
          <h5 class="footer-djangocon-link">Looking for another DjangoCon?</h5>
        </div>
      </div>
      <div class="row row-cols-3 justify-content-center align-self-center">
        <div class="col-12 col-md-2">
          <a class="nav-link" href="https://2022.djangocon.af/"><p class="text-center footer-djangocon-link">DjangoCon Africa</p></a>
        </div>
        <div class="col-12 col-md-2">
          <a class="nav-link" href="https://2022.djangocon.au/"><p class="text-center footer-djangocon-link">DjangoCon Australia</p></a>
        </div>
        <div class="col-12 col-md-2">
          <a class="nav-link" href="https://2022.djangocon.us/"><p class="text-center footer-djangocon-link">DjangoCon US</p></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center footer-end">
    <div class="col text-center align-self-center"><h6>© 2022 DjangoCon EU</h6></div>
  </div>
</div>

