// content page

@use "base";

.content-container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  .content-title {
    h1 {
      color: base.$TxtBlue;

      &.parent-title {
        opacity: 30%;
        color: #003C80;
        margin-bottom: 0;
      }
    }
  }
  .simple-content {
    font: 1.125rem/1.375rem Ubuntu;
    color: base.$BgBlue;
    text-decoration: none;

    p {
      margin-bottom: 1.875rem;
    }
    ul {
      margin-bottom: 1.875rem;
    }
    a {
      color: base.$BgBlue;
    }
    .btn {
      color: base.$BtnGolden;
      border: .0625rem base.$BtnGolden solid;
    }
  }
}
