//footer

@use "base";

.custom-footer{
  .container {
    max-width: 1658px;
  }
  background-color: base.$BgBlue;
  color: white;
}

.footer-title{
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}

.footer-social-media-link{
  padding: .25rem;
}

.footer-djangocon-link {
  color: #8EBEF3;
}

.footer-end {
  height: 3.875rem;
  background: #043062;
}
