// header

@use "base";

@media (min-width: 425px) and (max-width: 991.98px) {
  .header-margin {
    width: 0px;
    padding-left: 10%;
  }
}
@media  (min-width: 992px) {
  .header-margin {
    width: 0px;
    padding-left: 1vw;
  }
}

.header-logo-container {
  width: auto;
  padding-left: 0rem;
  padding-right: 0rem;
}
.header-logo {
  padding-left: 0rem;
  padding-right: 0rem;
}

.header {
  background: base.$BgBlue; //#003C80;
  padding-top: 3.125rem;
  padding-bottom: 2rem;

  .nav-sm {
    padding-right: 0rem;
    padding-left: 0rem;
    display: block;
  }
  .nav-item-lg {
    display: contents;
    padding-left: 2.5rem;
  }
  .nav-link-lg {
    display: inline-block;
    padding-left: 2rem;
  }
  .btn-primary {
    background: transparent;
    border: none;
  }
  .subnav {
    background: base.$BgLightBlue; //#0078FF;
  }
  .container-fluid {
    padding: 0rem;
  }
  .dropdown-menu {
    background: base.$BgLightBlue; //#0078FF;
  }
  .dropdown-item {
    color: white;
  }
}
