// header

@use "base";

@media (min-width: 768px) and (max-width: 1999.98px) {
  .header {
    div .header-margin {
      width: 0px;
      padding: 0px;
    }
  }
}

.header-logo-container {
  width: auto;
}

@media (max-width: 768px) {
  .header-logo-container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .header-logo {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.header {
  background: base.$BgBlue; //#003C80;
  padding-top: 3.125rem;
  padding-bottom: 2rem;

  .header-margin {
    width: 0px;
    padding-left: 2.5%;
  }
  .nav-sm {
    padding-right: 0rem;
    padding-left: 0rem;
    display: block;
  }
  .nav-item-lg {
    display: contents;
    padding-left: 2.5rem;
  }
  .nav-link-lg {
    display: inline-block;
    padding-left: 2rem;
  }
  .btn-primary {
    background: transparent;
    border: none;
  }
  .subnav {
    background: base.$BgLightBlue; //#0078FF;
  }
  .container-fluid {
    padding: 0rem;
  }
  .dropdown-menu {
    background: base.$BgLightBlue; //#0078FF;
  }
  .dropdown-item {
    color: white;
  }
}
