// homepage

@use "base";

@media (max-width: 1921px) {
  .home-header {
    background: base.$BgBlue url("/static/images/background/homepage_xl.png");
  }
}

%HOME-TEXT {
  font: normal normal normal 1.625rem/1.875rem Ubuntu;
}

.home-text {
  @extend %HOME-TEXT;
}
.home-title {
  font: normal normal normal 2rem/2.25rem Ubuntu;
}

.home-header {
  max-height: 1081px;
  height: 100vh;
  background-position-x: center;
  background-position-y: -10rem;
  background-size: revert;
  background: base.$BgBlue url("/static/images/background/homepage.png") repeat-x;

  h3 {
    color: #FFA300;
  }
  .home-title {
    padding-top: 12.5rem;
  }
  img {
    max-width: 750px;
    width: 100%;
    min-width: 250px;
    padding-top: 1.875rem;
  }
}



.home-subheader {
  background: base.$BgBlue;
  border: none;
  padding-top: 6rem;
  color: white;
  padding-bottom: 8.75rem;

  .btn-tickets {
    height: auto;
    background: white;
    color: base.$BgBlue;
    border-radius: 23px;
    max-width: 331px;
    max-height: 45px;
    padding: .5625rem 2.875rem;
    margin-top: 1.125rem;
    margin-bottom: 7.8125rem;
    @extend %HOME-TEXT;
  }

  h4 {
    @extend %HOME-TEXT;
  }
  .home-about {
    p {
      @extend %HOME-TEXT;
      margin-top: 3.75rem;
    }
  }
}

.important-dates {
  background-color: base.$BgLightBlue;
  padding-top: 4.375rem;
  padding-bottom: 5.875rem;

  .title{
    padding-bottom: 4.875rem;
  }
  .date-row {
    padding-left: 12.75rem;
  }
  .date-col {
    font-weight: bold;
    padding-top: 1.125rem;
    border-top: 0.125rem solid white;
  }
  .date-val {
    margin: 1.625rem .75rem;
  }
}

.home-sponsors {
  background: base.$BgGrey;
  color: base.$BgDarkBlue;
  padding-top: 6.875rem;
  padding-bottom: 2.875rem;

  .title {
    padding-bottom: 4.25rem;
    color: base.$TxtBlue;

    strong {
      color: base.$BgDarkBlue;
    }
  }
  .sponsors-row {
    padding-left: 12.75rem;
    min-height: 21.875rem;
  }
  .sponsors-col {
    padding-top: .75rem;
    border-top: 0.125rem solid base.$BgDarkBlue;
  }
}

